#root {
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  color: white;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2.5rem 0;
}

.temp-center {
  margin-top: 10rem;
}

.temp-animation {
  transition: all 0.85s ease;
}