#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

.token-swap-container {
  background-image: linear-gradient(to bottom right, #6d3ce8, #1565c0, #90caf9);
  border-radius: 1.5rem;
  padding: 3px;
  width: 30rem;
  box-shadow: 0 0 10px 0 #6d3ce8, 0 0 20px 0 #34d1bf;
  margin-left: 2rem;
}

.token-swap {
  background-color: #1f2430;
  border-radius: 1.5rem;
  width: 30rem;
  height: 25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token-swap-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.token-swap-selection-box {
  display: flex;
  align-items: center;
}

.token-select-container {
  position: relative;
  padding: 0.5rem;
}

.token-select {
  display: flex;
  align-items: center;
  background-color: #2e3544;
  border-radius: 12px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.token-select:hover {
  background-color: #3e465b;
}

.token-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.token-amount-container {
  margin-left: 1.5rem;
}

.token-amount {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7d879c;
  color: #fff;
  width: 6rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.25rem;
  margin-right: 0.5rem;
  caret-color: #50c878;
}

.token-amount:focus {
  outline: none;
  border-bottom: 1px solid #50c878;
}

.token-label {
  font-size: 1.125rem;
  color: #7d879c;
}

.token-swap-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-price-label {
  font-size: 1.125rem;
  color: #7d879c;
  margin-right: 0.5rem;
}

.token-price-value {
  font-size: 1.125rem;
  color: #fff;
}

.token-swap-button {
  margin-top: 2rem;
}

.token-menu {
  background-color: #1e2533;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  top: 4rem;
  width: 10rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.token-menu-item {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 1rem;
}

.token-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.token-menu-item:hover {
  background-color: #3e465b;
}

.token-menu-item-active {
  background-color: #3e465b;
}

.token-menu-divider {
  border-top: 1px solid #4d576b;
  margin: 0.5rem 0;
}
