@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 17px;
  
  height: 100%;

  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;

  /* background: #000; */
  background: url(./assets/background.jpg), black; 
  background-size: cover;
  backdrop-filter: saturate(7) brightness(0.1);
}

button.wallet-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.wallet-button:hover {
  border-color: #646cff;
}
button.wallet-button:focus,
button.wallet-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wallet-button-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
