.main-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swap-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swap-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-swap-container {
  margin: 1rem;
  display: inline-block;
  max-width: 100%;

  background: #151515;

  /* background-image: url(https://products.ls.graphics/mesh-gradients/images/16.-Medium-Purple_1.jpg); */
  /* background-size: cover; */
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solstash-container {
  width: 200px;
  display: inline-block;
  margin-right: 1rem;
}

.solstash-box {
  border-radius: 8px;
  width: 100%;
  background: #0E0E0E;
  padding: 4px 0;
  margin-bottom: 1rem;

  cursor: pointer;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.solstash-box.solstash-box--selected {
  border: 2px solid rgba(124, 58, 237);
  background-image: linear-gradient(
    rgba(124, 58, 237, 0.1),
    rgba(124, 58, 237, 0.1)), linear-gradient(
    #0E0E0E, #0E0E0E);
}

.stash-entry {
  display: block;
  text-align: left;
  padding: 8px 12px;
  font-size: 0.9rem;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stash-entry-name {
  flex: 1;
  color: rgb(156 163 175);
}

.stash-entry-pos {
  color: #FFF;
}

.stash-entry-bar {
  display: inline-block;
  width: 3px;
  border-radius: 1.5px;
  height: 16px;
  margin-right: 8px;
}

.swap-box {
  margin-right: 1rem;
}

.token-swap_title {
  color: rgb(209 213 219);
  display: block;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.graph-title {
  color: rgb(209 213 219);
  display: block;
  text-align: left;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.token-swap_label:first-of-type {
  position: relative;
}

.token-swap_label:first-of-type::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 8px;
  right: 8px;
  display: block;
  height: 1px;
  /* background: rgb(124 58 237); */
}

div+.token-swap_label {
  margin-top: 1.5rem;
}

.token-swap_label {
  display: block;
  text-align: left;

  font-weight: 400;
  color: rgb(148 163 184);
  padding-left: 12px;
  margin-bottom: 6px;
  font-size: 1rem;
}

.token-swap-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.token-swap-selection-box {
  display: flex;
  align-items: center;
}

.token-select-container {
  position: relative;
  padding: 0.5rem;
}

.token-select {
  display: flex;
  align-items: center;
  background-color: #2e3544;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.token-select:hover {
  background-color: #3e465b;
}

.token-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.token-amount-container {
  margin-left: 1.5rem;
}

.token-amount {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7d879c;
  color: #fff;
  width: 6rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.25rem;
  margin-right: 0.5rem;
  caret-color: #50c878;
}

.token-amount:focus {
  outline: none;
  border-bottom: 1px solid #50c878;
}

.token-label {
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFF;
}

.token-swap-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-price-label {
  font-size: 1.125rem;
  color: #7d879c;
  margin-right: 0.5rem;
}

.token-price-value {
  font-size: 1.125rem;
  color: #fff;
}

.token-swap-button {
  margin-bottom: 0.5rem;
  background-color: blue;
}

.token-menu {
  background-color: #1e2533;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  top: 4rem;
  width: 10rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.token-menu-item {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 1rem;
}

.token-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.token-menu-item:hover {
  background-color: #3e465b;
}

.token-menu-item-active {
  background-color: #3e465b;
}

.token-menu-divider {
  border-top: 1px solid #4d576b;
  margin: 0.5rem 0;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}