.token-set {
    width: 100%;
    border-radius: 8px;
    padding: 16px 0;
    transition: 0.25s all ease-in;
    margin-top: 16px;
}


.token-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.token-set-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 1rem 0;
    color: white;
}

.token-menu-icon {
    height: 40px;
    width: 40px;
}

.token-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}